.product-grid {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto_fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
.womens-card{
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto_fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
.mens-card{
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto_fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  border: 1px solid;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 5px rgba(0, 0, 0, 1);
  width: 225px;
}

.product-card img {
  max-width: 100px;
  height: auto;
}

.product-card a {
  color: aqua;
  text-decoration: none;
}

.product-details {
  padding: 20px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.product-details img {
  max-width: 200px;
  height: auto;
}

.product-list {
  padding: 20px;
  text-align: center;
}